$general-font: 'Ubuntu', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$accent-color: #fcae26;
$white-color: #fff;
$general-color: #222;
$secondary-color: #444;
$footer-color: #969aa8;
$animation: cubic-bezier(0.4, 0, 0.2, 1);
