.header {
  min-height: 330px;
}

@media screen and (min-width: 768px) and (max-width: 1299px) {
  .header {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1300px) {
  .header {
    min-height: 660px;
  }
}
